<launch>
  <arg
    name="model" />
  <arg
    name="gui"
    default="true" />
  <param
    name="robot_description"
    textfile="$(find demo02_urdf)/urdf/gluon.urdf" />

  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <!-- 启动机器人关节状态发布节点 -->
    <!--node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" /-->

  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find demo02_urdf)/urdf.rviz" />
  <!--node
    name="gluon"
    pkg="gluon"
    type="gluon_node"
    output="screen" /-->
</launch>
